.bg-image {
  background-image: linear-gradient(to bottom, rgba(59, 130, 255, 0.5) 40%, rgba(0, 51, 141, 0.5) 100%), url('../images/donation.jpeg');
}

#h1unique {
  padding: 0px;
}

.text-white h4{
  padding:0;
}

.text-white select{
  margin-right:5px;
}

.text-white input{
  margin-right:10px;
}

.form-control {
  width: 150px;
  display: inline-flex;
  vertical-align: middle;
}