.bg-image {
  background-image: linear-gradient(to bottom, rgba(59, 130, 255, 0.5) 40%, rgba(0, 51, 141, 0.5) 100%), url('../images/donation.jpeg');
}

#h1unique {
  padding: 0px;
}

.form-control {
  width: 150px;
  display: inline-flex;
  vertical-align: middle;
}