img{

  height: 50px;
  width: 50px;

}

h1{

  color: #EBB700;

}

.container__frivillig {

  width: 50%;

}

.container__frivillig {

  width: 50%;

}

@media screen and (min-width: 992px) {

  .indmeldning {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
}
