
.indmeldning{
  margin-bottom:100px;
  min-height: calc(100vh - 470px);
}

.indmeldning img{

  height: 50px;
  width: 50px;

}

h1{
  color: #EBB700;
}

.text h5{
  font-size:18px;
  font-weight:bold;
  text-align: center;
  padding:0;
  margin-bottom:13px;
}

.container__frivillig{
  padding-top:10px;
}

.container__medlem{
  padding-top:10px;
}


@media screen and (min-width: 992px) {

  .indmeldning {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container__frivillig__tekst{
    width:80%;
  }

  .container__medlemskab__tekst{
    width:80%;
  }
}
