.row {

  height: 40px;

}
.btn a{

  align-content: center;

}

#knap1 {

  height: 25px;
  align-self: center;
  padding: 2px 5px;
  margin-right: 10px;
  text-align: center;
  max-width: 100px;
  border:none;
}

.menu__wrapper{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.social{
  padding-top:5px;
}

.social img{
  margin-right:10px;
}

.social__btns{
  padding-top:5px;
}

#navbarSupportedContent{
  justify-content: flex-end !important;
}
.navbar-collapse{
  flex-grow: unset;
}
a.nav-link {

  color: black;

}

.navbar-toggler-icon{

  color: black !important;

}
