@font-face {
  font-family: 'HelveticaRoman';
  src: url('../fonts/HelveticaNeueLTPro-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeueLTPro-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: HelveticaRoman;
  margin: 0; /* Ingen kanter i siden af browser */
}

/*farver*/

$primary: #00338D;
$darkblue: #002057;
$textblue: #0D2240;
$yellow: #EBB700;
$white: #fff;

/*farver*/


/*margener, padding*/

$padding: 40px;

/*margener, padding*/

.bg-image {
  background-image: linear-gradient(180deg, rgba(64,124,202,0.4) 0%, rgba(0,26,71,0.6) 100%), url('../images/hero.png');
  height: 400px;
  no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn {
  font-weight: bold;
}


#midimage {
  background-image: linear-gradient(180deg, rgba(64,124,202,0.4) 0%, rgba(0,26,71,0.6) 100%), url('../images/midimage.jpg');
  height: 200px;
  no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card img{
  width:100%;
  height:250px;
  object-fit: cover;
  margin-bottom:10px;
}

.cardwrapper {
  display: flex;
}

.space {
  padding-right: 20px;
}

.space2 {
  padding-left: 20px;
}

h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 34px;
  margin: 0;
  font-weight: bold;
}

.mb-3{
  padding:10px;
  margin:0 !important;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 28px;
  font-weight: bold;
}

.text-white h4{
  font-size:24px;
}

.text-white h2{
  font-size:20px;
}

.text-white{
  margin-top:10px;
}

.formål__wrapper img{
  width:150px;
}

.formål__donationer .container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top:40px;
}

.card__wrapper{
  margin-bottom:50px;
}
.card-text {
  margin-bottom: 25px;
}

.nyhedsbrev{
  height:auto;
  width:100%;
  background-color:#00338D;
  color:white;
  margin-bottom:100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding:20px;
  border-radius:5px;
}

.nyhedsbrev .container{
  margin-bottom:10px;
}

.nyhedsbrev__email__wrapper{
  display:flex;
  justify-content: flex-end;
  padding:10px;
  background-color:white;
  border-radius:5px;
}

.nyhedsbrev__email__wrapper input{
  width:100%;
  border:none;
  margin-right:5px;
}

.card-footer {
  padding: 0rem 0rem;
  background-color: rgba(0,0,0,0);
  border-top: 0px solid rgba(0,0,0,0);
}

#pwidth p {
  width: 100%;
}

@media screen and (min-width:768px){
  .formål__donationer .container{
    flex-direction: row;
    justify-content: space-between;
  }

  .text-white h4{
    margin-bottom:20px !important;
    font-size:28px;
  }

  .text-white h2{
    font-size:24px;
  }

  .nyhedsbrev{
    flex-direction: row;
    padding:50px;
  }

  .nyhedsbrev .container{
    margin-bottom:0;
  }

}

@media screen and (min-width:1150px){
  #pwidth p {
    width: 70%;
  }
  .bg-image {
    height: 600px;
  }
}

