
$headline: "'Poppins', sans-serif;";
$tekst: "'Poppins', sans-serif;";

/*farver*/
$primary: #00338D;
$darkblue: #002057;
$textblue: #0D2240;
$yellow: #EBB700;
$white: #fff;


/*margener, padding lign.*/
$padding: 10px;
$side: left;

@mixin blurText(){
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
}



.test {
  background-color: $blue;
  margin-#{$side}: $padding;
  @include blurText;
  font-family: $headline;
}

.test2 {
  @extend .test;
}

header{
  background-color: $blue;

  .text{
    color: $red;
    border: {
      color: ;
      style: solid;
      width: 2px;
    }

    ul{
      li{
        font-size: 14px;

        &:nth-of-type(3){
          background-color: $Color2;
        }
      }
    }
  }
}