$headline: "'Poppins', sans-serif;";
$tekst: "'Poppins', sans-serif;";

/*farver*/

$primary: #00338D;
$darkblue: #002057;
$textblue: #0D2240;
$yellow: #EBB700;
$white: #fff;

/*farver*/


/*margener, padding*/

$padding: 40px;

/*margener, padding*/

.bg-image {
  background-image: linear-gradient(to bottom, rgba(59, 130, 255, 0.5) 40%, rgba(0, 51, 141, 0.5) 100%), url('../images/hero.jpeg');
  height: 400px;
  no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#midimage {
  background-image: linear-gradient(to bottom, rgba(59, 130, 255, 0.5) 40%, rgba(0, 51, 141, 0.5) 100%), url('../images/midimage.jpeg');
  height: 200px;
  no-repeat: center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card img{
  width:100%;
  height:250px;
  object-fit: cover;
  margin-bottom:10px;
}

.cardwrapper {
  display: flex;
  padding-top: 20px;
}

h1 {
  padding-top: $padding;
}

#buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

.card-text {
  margin-bottom: 55px;
}

#pwidth p {
  width: 100%;
}

@media screen and (min-width:992px){
  #pwidth p {
    width: 70%;
  }
  .bg-image {
    height: 600px;
  }
}